article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

body {
    background-color: #333;
    
}

li {
    list-style: none;
    padding: 2px;
}

h3 {
    display: inline;
}

ul {
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-family: 'Press Start 2P', serif;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    min-height: calc(100vh - 50px);
}

.text-adventure-container {
    margin: 0 auto;
    width: 90%;
}

.text-adventure-display {
    margin: 30px auto 15px auto;
    padding: 15px;
    font-size: 1.3rem;
    width: 95%;
    border: 15px inset lightgrey;
    background-color: black;
    color: rgb(0, 255, 0);
    overflow-y: auto;
    border-radius: 10px;
    height: 500px;
    font-family: 'Quantico', serif;
}

.text-input{
    display: block;
    border: 5px inset #999;
    padding: 15px;
    background-color: black;
    color: white;
    width: 70%;
    font-size: 22px;
    border-radius: 5px;
    margin: 0 auto;
  }

.text-adventure-commands-container {
    color: white;
    margin: 0 auto;
}

.commands-container {
    margin: 0 auto;
    float: left;
}

.map-container {
    margin: 20px auto 0 auto;
    float: right;
    text-align: center;
}

img {
    border: 2px solid black;
}

footer {
    width: 100%;
    background-color: black;
    height: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 0.8rem;
        margin-top: 5px;
    }

    p {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .text-adventure-display {
        margin: 5px auto 5px auto;
        border-width: 5px;
        font-size: 1rem;
        padding: 8px;
        height: 400px;
        width: 100%;
    }

    .text-input {
        width: 90%;
        padding: 5px;
        font-size: 18px;
    }

    .commands-container {
        float: none;
    }
    
    .map-container {
        float: none;
        text-align: center;
        margin: 0;
    }

}